.dashboard{

    padding:20px;

}


.card-container{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;

}


.dashboard-card{

    background:white;
    padding:20px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.dashboard-card h2{

    font-size:35px;

}


.dashboard-card p{

    font-size:28px;
    font-weight:bold;

}



.chart-box{

    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:12px;

}


table{

    width:100%;
    border-collapse:collapse;

}


th,td{

    padding:12px;
    border:1px solid #ddd;
    text-align:center;

}


@media(max-width:768px){

.card-container{

    grid-template-columns:1fr;

}

}